{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "SIGNUP_CODE": "changeme",
    "SESSION_SECRET": "local-dev-only-do-not-use-in-production-1234567890"
  }
}
